        .jumbotron {
           text-align: center;
           margin-right: auto;
           margin-left: auto;
           background-color: white;
        }
        .topnav {
         background-color: LightSteelBlue;
         overflow: hidden;
        }
        .topnav a {
        float: left;
        color: LightSteelBlue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }
        .topnav a:hover {
           background-color: LightSteelBlue;
           color: black;
        }
       .topnav a.active {
           background-color: LightSteelBlue;
           color: black;
           width: 141px;
        }
        .form-control {
           text-align: center;
           width: 400px;
           margin-left: auto;
           margin-right: auto;
        }
        .btn {
            margin-top: 20px;
            width: 150px;
        }
        .w3-button {
            width:150px;
            height: 100px;
            margin-top: 10px;
        }
        .alert {
           margin-top: 10px;
           width: 400px;
           height: 45px;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
        }
        .w3-container {
          background-color: LightSteelBlue;
        }