        .jumbotron {
           text-align: center;
           margin-right: auto;
           margin-left: auto;
           background-color: white;
        }
        .topnav {
         background-color: LightSteelBlue;
         overflow: hidden;
        }
        .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }
        .topnav a:hover {
           background-color: LightSteelBlue;
           color: black;
           border: 1px solid  black;
        }
       .topnav a.active {
           background-color: LightSteelBlue;
           color: black;
           width: 141px;
        }
        .form-control {
           text-align: center;
           width: 400px;
           margin-left: auto;
           margin-right: auto;
        }
        .btn {
            margin-top: 20px;
            width: 150px;
        }
        .w3-button {
            width:150px;
            height: 100px;
            margin-top: 10px;
        }
        .alert {
           margin-top: 10px;
           width: 400px;
           height: 45px;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
        }
        .w3-container {
          background-color: LightSteelBlue;
        }
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: black;
          height:80px;
          text-align: center;
        }
        .textarea {
           margin-top: 20px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
           box-sizing: border-box;
           width: 100%;
        }
                .procurar {
           width: 400px;
           margin-top: 5px;
           margin-left: 30px;
           margin-top: auto;
           border: 2px solid #ccc;
           border-radius: 4px;
           padding: 5px;
           margin-bottom: 10px;
        }
        .button {
          background-color: LightSteelBlue; /* Green */
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          float: left;
        }
