<ul>
    <li><a class="active" href="#!/">Home</a></li>
    <li><a href="#!/janeiro">Janeiro</a></li>
    <li><a href="#janeiro">Fevereiro</a></li>
    <li><a href="#janeiro">Março</a></li>
    <li><a href="#janeiro">Abril</a></li>
    <li><a href="#janeiro">Maio</a></li>
    <li><a href="#janeiro">Junho</a></li>
    <li><a href="#janeiro">Julho</a></li>
    <li><a href="#janeiro">Agosto</a></li>
    <li><a href="#janeiro">Setembro</a></li>
    <li><a href="#janeiro">Outubro</a></li>
    <li><a href="#contact">Novembro</a></li>
    <li><a href="#janeiro">Dezembro</a></li>
</ul>