<div class="responsive">
    <div class="gallery">
            <img src="../images/caderno.png"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
            <img src="../images/lista.png"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/custos.png"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
    </div>
</div>