<!DOCTYPE html>
<html lang="pt" ng-app="agenda">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../static/app/application.js"></script>
    <script src="../static/app/controllers/agendaCtrl.js"></script>
    <script src="../static/app/controllers/tarefaCtrl.js"></script>
    <script src="../static/app/controllers/mesCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/teste.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagCustos.css">
</head>
<body>
<div ng-include='"header.html"'></div>
<!-- n-view marca onde o template vai ser aplicado -->
<div id="conteudo" ng-view>
    <!-- MINHA PAGINA -->
</div>
<div ng-include='"footer.html"'/>
</body>
</html>