<!DOCTYPE html>
<html lang="pt" ng-app="agenda">
<head>
    <title>Agenda</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="static/css/teste.css" rel="stylesheet">
</head>
<body ng-controller="agendaCrtl">

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a class="active" href="#agenda">Agenda</a>
    <a class="active" href="#tarefas">Tarefa do Dia</a>
</div>

</body>
</html>