<table>
    <tr>
        <th></th>
        <th>Despesa</th>
        <th>Valor</th>
    </tr>
    <tr ng-repeat="despesa in despesas">
        <td><input type="checkbox" ng-model=""/></td>
        <td>{{despesa.tipo.nome}}</td>
        <td>{{despesa.valor}}</td>
    </tr>
</table>
<hr/>
<form>
    <select ng-model="despesa.tipo">
        <option value="">Selecione uma Despesa</option>
    </select>
    <input ng-model="despesa.valor" placeholder="Informar Valor em Real"/>
</form>
<button class="btn btn-primary" ng-click="adicionarDespesa(valor)">Adicionar</button>